*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 50px 1fr;
    
}


title{
    font-family: 'Yesteryear', cursive;
    color: #FFA723;
}

.logar{
    text-align: left;
}
.description{
    color: black;
}

/* logins */

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    

}

p{
    color: white;
}

.telefoneEmail{
    text-align: right;
    width: 24vw;
    margin-left: 50px;
}

/* nav */

.navegacao{
    display: flex;
    align-items: center;
}

.logo{
    height: 2vw;
    width: 2vw;
}

.logo-imagem{
    width: 60px;
    margin-right: 30px;
}

.textoComplementar{
    color: black;
    width: 200vw;
    align-items: center;
}

.barraDeNav {
    display: flex;
    color: black;
    gap: 80px;
}

.barraDeNav p{
    color: black;
}

.pesquisar{
    width: 100px;
    align-items: center;

}
main{
    background-image: url(./img/borda\ de\ fundo.png);
    background-repeat: no-repeat; 
    background-size: cover;   
}

.nome{
    width: 260px;
    background-size: cover;
}

.textoComplementar{
    width: 280px;
    height: 100px;
}

.croassant{
    width: 260px;
}

.cookie{
    width: 70px;
}

.principal{
    display: flex;
    justify-content: space-between;
}